* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 245, 245);
}

/* shared style */
.container {
  max-width: 1280px;
  margin: auto;
}

.primary-btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background: transparent;
}

.primary-btn:hover {
  background-color: yellow;
  font-size: 18px;
  color: blue;
}

/* start header section */
.navbar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}

.navbar-parent .logo {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

.nav-btn {
  border: 1px solid #006a50;
}

.banner {
  background-color: #c6e4d6;
  border-radius: 24px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.banner-text p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  color: rgba(14, 14, 14, 0.5);
}

.banner-text h1 {
  font-size: 56px;
  font-weight: bold;
  /* font-weight: 700; */
  margin-bottom: 24px;
  color: #0e0e0e;
}

.banner-btn {
  color: #ffffff;
  background-color: #006a50;
}
/* end header section */

/* start card section */

.card {
  margin: 80px auto;
}

.card-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #0e0e0e;
}

.card-list-info .card-list-infoimg {
  width: 62px;
  margin-bottom: 25px;
}

.card-list-info h3,
.feature-card-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #0e0e0e;
}

.card-list-info p,
.feature-card-info p {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e;
  line-height: 24px;
}
.card-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-list-info {
  padding: 24px;
  width: 302px;
  background-color: #ffffff;
  border-radius: 10px;
}
/* end card section */

/* start feature section */
.feature-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.feature-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.feature-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.feature-card-info:nth-child(1) {
  background-color: rgba(84, 144, 245, 0.2);
}

.feature-card-info:nth-child(2) {
  background-color: rgba(198, 228, 214, 1);
}
.feature-card-info:nth-child(3) {
  background-color: rgba(247, 235, 207, 1);
}

.feature-card-info {
  background-color: #c6e4d6;
  padding: 24px;
  width: 410px;
  border-radius: 16px;
}

.feature-card-info {
  background-color: #c6e4d6;
  padding: 24px;
  width: 410px;
  border-radius: 16px;
}

.feature-card-info .card-list-infoimg {
  margin-bottom: 24px;
}

.feature-btn-1 {
  background-color: #5490f5;
  color: #ffffff;
  margin-top: 24px;
}

.feature-btn-2 {
  background-color: #09a15c;
  color: #ffffff;
  margin-top: 48px;
}

.feature-btn-3 {
  background-color: #ffc239;
  color: #ffffff;
  margin-top: 48px;
}
/* end feature section */

/* start quote section */
.quote-section-parent {
  margin: 32px auto 0;
  background-color: white;
  padding: 48px 24px;
  border-radius: 16px;
  position: relative;
}

.quote-icon {
  font-size: 100px;
  color: rgba(14, 14, 14, 0.3);
  position: absolute;
  left: 3px;
  top: 9px;
}

.quote-section-parent p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  color: #0e0e0e;
}

.quote-section-parent {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 80px;
  color: #0e0e0e;
}
/* end quote section */

/* start opinion section */
.opinion h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.opinion-container {
  background-color: white;
  border-radius: 16px;
}
table {
  width: 1216px;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.table-content {
  padding: 32px;
}
td,
th {
  border: 1px solid rgba(198, 228, 214, 1);
  padding: 10px 20px;
}

.merged-header {
  background-color: #c6e4d6;
}

.merged-t {
  display: flex;
  justify-content: space-between;
}
.left-text,
.right-text {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
  padding: 5px;
}

tbody td {
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
  padding: 20px;
}

table select {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  background-color: #c6e4d6;
}

.select-option {
  text-align: center;
  vertical-align: middle;
}
/* end opinion section */

/* start recent news section */

.recent-news-container {
  margin-top: 80px;
}

.recent-news-container h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: black;
}

.recent-news-container p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 24px;
  color: #0e0e0e;
}

.recent-news-cards {
  border-radius: 24px;
  margin-top: 24px;
}

.recent-news-card-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 48px;
  margin-bottom: 20px;
  border-radius: 24px;
}

.card-description h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.8);
}

.time {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}
.card-description .card-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.8);
}
.card-image img {
  border-radius: 24px;
}

.card-btn {
  background-color: #006a50;
  color: white;
}

.all-cards :nth-child(2) {
  flex-direction: row-reverse;
}
/* end recent news section */

/* start donate section */
.donate {
  text-align: center;
  margin: 80px auto;
}

.donate h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.donate p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
}

.donate-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.tk {
  font-size: 40px;
  font-weight: bold;
  color: #4f4f4f;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
}

.tk:nth-child(2) {
  background-color: #c6e4d6;
}

.donate input[type="text"] {
  padding: 20px 380px;
  margin: 32px auto;
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
  border: none;
}
.amount {
  width: 1032px;
  background-color: white;
  margin: 16px auto;

  padding: 20px 0px;
}
/* end donate section */

/* start subscribe button */
.subscribe {
  text-align: center;
  background-color: #c6e4d6;
  border-radius: 24px;
}

.subscribe-content {
  padding: 80px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}

.subscribe-content h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.search {
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-btn {
  border-radius: 0px 8px 8px 0px;
}

.email {
  border-radius: 8px 0px 0px 8px;
  /* padding: 5px 100px 40px; */
  /* text-align: left; */
  padding-left: 30px;
  padding-right: 300px;
  border: none;
}
/* end subscribe button */

/* start footer section */

footer {
  margin-top: 80px;
  height: 226px;
}
.footer-container {
  background-color: white;
  /* padding: 50px auto; */
}

.footer-content {
  padding: 50px auto;
  text-align: center;
  margin: 0 auto;
}

.footer-content h2 {
  padding: 50px;
  font-size: 32px;
  font-weight: bold;
  /* margin-bottom: 32px; */
  color: #0e0e0e;
}

hr {
  width: 1122px;
  margin: 0 auto;
  border: 0.5px solid rgba(0, 0, 0, 0.082);
  margin-bottom: 32px;
}

.footer-content img {
  margin-right: 23px;
  margin-bottom: 50px;
}
/* end footer section */

/* start responsive design */
.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  .banner {
    width: 100%;
    align-items: center;
  }
  .navbar-parent {
    padding: 18px 0;
    justify-content: center;
    gap: 20px;
  }
  .navbar-parent .logo {
    font-size: 24px;
  }

  .navbar-parent button {
    font-size: 15px;
    padding: 7px 21px;
  }

  .primary-btn {
    font-size: 15px;
  }

  .banner-btn {
    /* font-size: 14px; */
  }

  .primary-btn:hover {
    background-color: yellow;
    font-size: 15px;
  }
  .container {
    width: 100%;
  }

  .banner-content {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 17px 60px;
  }

  .banner-text {
    text-align: center;
    margin-top: 20px;
  }
  .banner-text h1 {
    font-size: 28px;
  }

  .card {
    margin: 35px auto;
  }

  .card-heading h2 {
    font-size: 27px;
    text-align: center;
  }

  .card-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .banner-image img {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .feature-heading {
    text-align: center;
  }

  .feature-heading h2 {
    font-size: 27px;
  }

  .feature-heading p {
    font-size: 14px;
    padding: 5px;
  }

  .feature-card {
    flex-direction: column;
    width: 80%;
    margin: 0 29px;
    text-align: center;
  }

  .feature-card-info:nth-child(1),
  .feature-card-info:nth-child(2),
  .feature-card-info:nth-child(3) {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .quote {
    text-align: center;
    justify-content: center;
    /* margin-right: 80px; */
    width: 100%;
  }
  .quote-icon {
  }

  .quote-section-parent {
    margin-bottom: 10px;
  }

  .opinion {
    margin-top: 0;
  }
  .opinion h2 {
    font-size: 27px;
    text-align: center;
    margin-top: 20px;
  }

  .opinion-container {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .left-text,
  .right-text {
    font-size: 13px;
    padding: 0;
  }

  tbody td {
    font-size: 11px;
    padding: 8px;
  }

  table select {
    font-size: 10px;
  }

  .recent-news-container {
    margin-top: 33px;
  }

  .recent-news-container h2 {
    font-size: 34px;
    text-align: center;
  }

  .recent-news-container p {
    text-align: center;
    padding: 10px;
  }

  .recent-news-card-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .all-cards :nth-child(2) {
    flex-direction: column;
  }

  .card-image img {
    width: 100%;
  }

  .recent-news-container h2 {
    font-size: 28px;
  }

  .card-description .jajira {
    margin: 0px 81px;
  }

  .time {
    gap: 29px;
  }

  .card-description .card-text {
    text-align: justify;
  }

  .card-description button {
    margin: 0 76px;
  }

  .donate {
    margin: 0;
  }

  .donate p {
    font-size: 15px;
    padding: 10px;
  }
  br {
    display: none;
  }

  .donate-cards {
    flex-direction: column;
  }

  .donate input[type="text"] {
    padding: 15px 42px;
    margin: 31px auto;
    text-align: center;
  }

  .subscribe-content {
    padding: 27px;
  }
  .subscribe-content h2 {
    line-height: 35px;
  }

  .search {
    width: 100%;
  }

  .email {
    border-radius: 8px 0px 0px 8px;
    padding-left: 10px;
    padding-right: 0px;
    border: none;
  }

  .subscribe-content {
    margin-top: 20px;
  }

  hr {
    width: 300px;
    margin-top: 0;
    margin-bottom: 9px;
  }

  .footer-content h2 {
    padding-top: 50px;
  }
}
