* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 245, 245);
}

/* shared style */
.container {
  max-width: 1280px;
  margin: auto;
}

.primary-btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background: transparent;
}

/* start header section */
.navbar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}

.navbar-parent .logo {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

.nav-btn {
  border: 1px solid #006a50;
}

.banner {
  background-color: #c6e4d6;
  border-radius: 24px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.banner-text p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  color: rgba(14, 14, 14, 0.5);
}

.banner-text h1 {
  font-size: 56px;
  font-weight: bold;
  /* font-weight: 700; */
  margin-bottom: 24px;
  color: #0e0e0e;
}

.banner-btn {
  color: #ffffff;
  background-color: #006a50;
}
/* end header section */

/* start card section */

.card {
  margin: 80px auto;
}

.card-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #0e0e0e;
}

.card-list-info .card-list-infoimg {
  width: 62px;
  margin-bottom: 25px;
}

.card-list-info h3,
.feature-card-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #0e0e0e;
}

.card-list-info p,
.feature-card-info p {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e;
  line-height: 24px;
}
.card-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-list-info {
  padding: 24px;
  width: 302px;
  background-color: #ffffff;
  border-radius: 10px;
}
/* end card section */

/* start feature section */
.feature-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.feature-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.feature-heading p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  color: #0e0e0e;
}

.feature-card-info:nth-child(1) {
  background-color: rgba(84, 144, 245, 0.2);
}

.feature-card-info:nth-child(2) {
  background-color: rgba(198, 228, 214, 1);
}
.feature-card-info:nth-child(3) {
  background-color: rgba(247, 235, 207, 1);
}

.feature-card-info {
  background-color: #c6e4d6;
  padding: 24px;
  width: 410px;
  border-radius: 16px;
}

.feature-card-info {
  background-color: #c6e4d6;
  padding: 24px;
  width: 410px;
  border-radius: 16px;
}

.feature-card-info .card-list-infoimg {
  margin-bottom: 24px;
}

.feature-btn-1 {
  background-color: #5490f5;
  color: #ffffff;
  margin-top: 24px;
}

.feature-btn-2 {
  background-color: #09a15c;
  color: #ffffff;
  margin-top: 48px;
}

.feature-btn-3 {
  background-color: #ffc239;
  color: #ffffff;
  margin-top: 48px;
}
/* end feature section */

/* start quote section */
.quote-section-parent {
  margin: 32px auto 0;
  background-color: white;
  padding: 48px 24px;
  border-radius: 16px;
  position: relative;
}

.quote-icon {
  font-size: 100px;
  color: rgba(14, 14, 14, 0.3);
  position: absolute;
  left: 3px;
  top: 9px;
}

.quote-section-parent p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  color: #0e0e0e;
}

.quote-section-parent {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 80px;
  color: #0e0e0e;
}
/* end quote section */

/* start opinion section */
.opinion h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.opinion-container {
  background-color: white;
  border-radius: 16px;
}
table {
  width: 1216px;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.table-content {
  padding: 32px;
}
td,
th {
  border: 1px solid rgba(198, 228, 214, 1);
  padding: 10px 20px;
}

.merged-header {
  background-color: #c6e4d6;
}

.merged-t {
  display: flex;
  justify-content: space-between;
}
.left-text,
.right-text {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
  padding: 5px;
}

tbody td {
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
  padding: 20px;
}

table select {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  background-color: #c6e4d6;
}

.select-option {
  text-align: center;
  vertical-align: middle;
}
/* end opinion section */
