* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 245, 245);
}

/* shared style */
.container {
  max-width: 1280px;
  margin: auto;
}

.primary-btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  background: transparent;
}

/* start header section */
.navbar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px;
}

.navbar-parent .logo {
  font-size: 32px;
  font-weight: bold;
  color: #0e0e0e;
}

.nav-btn {
  border: 1px solid #006a50;
}

.banner {
  background-color: #c6e4d6;
  border-radius: 24px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.banner-text p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
  color: rgba(14, 14, 14, 0.5);
}

.banner-text h1 {
  font-size: 56px;
  font-weight: bold;
  /* font-weight: 700; */
  margin-bottom: 24px;
  color: #0e0e0e;
}

.banner-btn {
  color: #ffffff;
  background-color: #006a50;
}
/* end header section */

/* start card section */

.card {
  margin: 80px auto;
}

.card-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #0e0e0e;
}

.card-list-info .card-list-infoimg {
  width: 62px;
  margin-bottom: 25px;
}

.card-list-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #0e0e0e;
}

.card-list-info p {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e;
}
.card-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-list-info {
  padding: 24px;
  width: 302px;
  background-color: #ffffff;
  border-radius: 10px;
}
/* end card section */
